@model Data.RecoveryPasswordViewModel

@{
    ViewBag.Title = "RecoveryPassword";
}



<div class="col-md-9 col-sm-8 left-side-content internal-style" style="width: 100%">

    <section class="border-radius">
        <header><h3> بازیابی رمز عبور </h3></header>
        <article>
            <div class="col-md-10 col-sm-10 col-xs-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "رمز عبور جدید" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.EditorFor(model => model.PasswordConfirmation, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "تأیید رمز عبور جدید" } })
                        @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                    </div>
                    <input style="background-color: dodgerblue;" type="submit" value="ثبت تغییرات">
                }
            </div>
            <div class="clearfix"></div>
        </article>
    </section>

</div>
<div class="clearfix"></div>
