@model IEnumerable<Domain.Users>

@{
    ViewBag.Title = "Index";
}
@section PageHeaders
{
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">مدیریت کاربران </h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item active">صفحه سریع</li>
        </ol>
    </div><!-- /.col -->
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.LastLoginDate)
        </td>
        <td>
            <a class=" btn btn-warning" href="Users/Edit/@item.UserId">
                <i class="fa fa-edit"></i>
            </a>
             <a class="btn btn-info" href="Users/Details/@item.UserId">
                 <i class="fa fa-info"></i>
             </a> 
             <a class="btn btn-danger" href="Users/Delete/@item.UserId">
                 <i class="fa fa-trash"></i>
             </a> 
        </td>
    </tr>
}

</table>
