@using Utilities
@model IEnumerable<Domain.Users>

@{
    ViewBag.Title = "Index";
}
@section PageHeaders
{
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">مدیریت کاربران </h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-left">
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item active">صفحه سریع</li>
        </ol>
    </div><!-- /.col -->
}
   <a class="btn btn-success" href="@Url.Action("Create")">افزودن کاربر جدید</a>
<div class="input-group input-group-sm col-md-6 " style="margin: auto; margin-bottom: 30px">
    <input class="form-control form-control-navbar" type="search" placeholder="جستجو" aria-label="Search">
    <div class="input-group-append">
        <button style="background-color: lightgray" class="btn btn-navbar" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Roles.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.LastLoginDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Roles.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @item.RegisterDate.ToShamsi()
        </td>
   
        <td>
            @item.LastLoginDate.ToShamsi()
        </td>
        <td>
            <a class=" btn btn-warning" href="@Url.Action("Edit", new {id = item.UserId})">
                <i class="fa fa-edit"></i>
            </a>
             <a class="btn btn-info" href="Users/Details/@item.UserId">
                 <i class="fa fa-info"></i>
             </a> 
             <a class="btn btn-danger" onclick="Delete(@item.UserId)">
                 <i class="fa fa-trash"></i>
             </a> 
        </td>
    </tr>
}

</table>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">افزودن گروه جدید</h5>
                <div class="pull-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" id="modalBody">
                ...
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section Scripts
{
    <script>

        function Delete(id) {
            $.get("/Admin/Users/Delete/" + id,
                function (result) {
                    $("#modal").modal();
                    $("#modalTitle").html("حذف گروه");
                    $("#modalBody").html(result);
                });
        }

    </script>
}